#article-jumbotron {
  padding-top: 12em;
  margin-bottom: 5em;

  h1 {
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Playfair Display', serif;
  }

  .imgtext {
    max-width: 900px;
    margin: auto;
    vertical-align: middle;

    img {
      position: relative;
      vertical-align: middle;
      overflow: hidden;
      width: 100%;
      min-width: 300px;
      max-width: 300px;
      height: 300px;
      float: left;
      border-radius: 50%;
      margin: 10px;
      shape-outside: circle();
      @media screen and (max-width: 800px) {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }

    p {
      @media screen and (max-width: 800px) {
        padding-top: 2em;
      }

      vertical-align: middle;
    }
  }
}

#article-1 {
  .center {
    p {
      width: 60%;
      display: block;
      margin: auto;
      padding-bottom: 2em;
      @media screen and (max-width: 800px) {
        width: 100%;
        font-family: 'Playfair Display', serif;
      }
    }

    img {
      display: block;
      margin: auto;
      width: 60%;
      border-radius: 50% 20% / 10% 40%;
      padding-bottom: 2em;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }


  }
}