#blog-jumbotron {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-bottom: 480px;
  @media screen and (max-width: 1200px) {
    padding-bottom: 320px;
  }
  width: 100%;
  height: auto;
}

#start-section {
  .container {
    text-align: center;
    justify-content: center;

    h1 {
      font-size: 60px;
      margin-bottom: 2.3em;
      font-family: 'Playfair Display', serif;

    }

    .blog-titre {
      h2 {
        font-size: 40px;
        font-family: 'Playfair Display', serif;
      }

      margin-bottom: 2.3em;
    }

    .blog-card {

      .center {
        width: 40%;

        @media screen and (max-width: 1000px) {
          width: 60%;
        }

        @media screen and (max-width: 600px) {
          width: auto;
        }

        .card {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;


          h3 {
            font-size: 20px;
            margin-bottom: 2.3em;
            text-align: center;
            font-family: 'lora', serif;

          }

          p {
            font-size: small;
            text-align: center;
            max-width: 80%;
            float: right;
            margin-bottom: 2.3em;
            font-family: 'Playfair Display', serif;
          }

          a {
            float: right;
          }

        }
      }
    }
  }
}

#blog-section2 {

  margin-bottom: 5em;

  @media screen and (max-width: 1200px) {
    margin-bottom: 0;
  }

  .container {
    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 1.3em;
    }

    .flex-container {
      .w30 {
        @media screen and (max-width: 1200px) {
          width: 100%;
        }

        margin-bottom: 5em;
      }
    }

    .boite {
      h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 1.3em;
      }

      .center {
        text-align: center;
      }
    }
  }
}
