#cours-jumbotron {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    padding: 16em 0;
    text-align: center;
    font-family: 'Playfair Display', serif;

    h1 {
      font-size: 60px;
      font-family: 'lora', serif;
    }

    h2 {
      font-family: 'lora', serif;
    }

    .button {
      margin-bottom: 15rem;
    }
  }
}

.right {
  width: 60%;

  .card {
    img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1200px) {
  .right {
    width: auto;
    .card{
      display: block;
      img{
        max-width: 100%;
        max-height: 20em;
      }
    }
  }
}