#cours-jumbotron {
  min-height: 100em;
  padding-bottom: 15em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    padding: 16em 0;
    text-align: center;

    h1 {
      font-size: 60px;
    }
    .button {
      margin-bottom: 15rem;
    }
  }
}
.right{
  width: 60%;
}

@media screen and (min-width: 1200px) {
  .right{

  }
}