.card {
  overflow: hidden;
  display: flex;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-bottom: 5em;

  img {
    margin: 5px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 25%;
  }

  .card-body {
    padding: 12px;

    h2 {
      margin-bottom: 50px;
      font-size: 30px;
    }

    p {

    }
  }
}
