*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;

}

header {
  position: fixed;
  width: 100%;
  padding: 10Px;
  background-color: #EEE;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .2);




  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    navbar {


      ul {

        font-size: 15px;



        .li {
          font-size: 20px;



          .a {
            padding: 20em;

          }
        }
      }
    }
  }
}
  .titre{
    font-size: 50px;




  }
