* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 5Px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}
header .container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .container .navbar {
  display: flex;
}
header .container .navbar ul {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .navbar ul li {
  font-size: 25px;
  padding: 0 20px;
  min-width: 7em;
}
header .container .navbar ul li a {
  color: black;
}

.titre {
  font-size: 60px;
  margin: 10px;
  color: black;
}

#footer {
  background-color: black;
  color: white;
}

.jumbotron {
  vertical-align: center;
  padding-top: 15em;
  padding-left: 5em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10em;
}
.jumbotron h1 {
  font-size: 60px;
  color: white;
  padding-bottom: 1.5em;
}

.button {
  padding-left: 6em;
  padding-bottom: 15em;
}

.row {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 10em;
}

.col {
  width: 100%;
  margin: 0 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.5);
}

.carte {
  display: block;
}

#premium {
  background-size: cover;
  color: white;
  padding-bottom: 10em;
}
#premium h2 {
  padding: 4em;
  padding-bottom: 10em;
}
#premium p {
  text-align: right;
  padding-right: 5em;
}

#description {
  margin: 5em;
}
#description img {
  float: left;
}
#description p {
  padding-bottom: 10em;
  line-height: 50px;
  vertical-align: middle;
  display: table-cell;
}

#jumbotron {
  min-height: 100em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#jumbotron .container {
  padding: 16em 0;
  text-align: center;
}
#jumbotron .container h1 {
  font-size: 60px;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 25%;
  margin: 5px;
  float: left;
}
.card h2 {
  margin-bottom: 50px;
  font-size: 30px;
}
.card p {
  padding: 0;
  overflow-wrap: break-word;
  margin-bottom: 22px;
}

.btn {
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.btn.black {
  color: black !important;
}
.btn.white {
  color: white !important;
}
.btn .text {
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.btn:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f2a172;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.line {
  position: absolute;
  background: #f2a172;
}
.line.-right, .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.line.-top, .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

a:hover .text,
a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
a:hover:after,
a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
a:hover .line,
a:active .line {
  transform: scale3d(1, 1, 1);
}
a:hover .line.-right,
a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
a:hover .line.-top,
a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
a:hover .line.-left,
a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
a:hover .line.-bottom,
a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

.card {
  max-height: 50%;
  border: 2px solid #f2a172;
  margin-left: 40%;
  margin-right: 6%;
  border-radius: 5px;
}
/*# sourceMappingURL=app.css.map */