#jumbotron {
  min-height: 100em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    padding: 16em 0;
    text-align: center;

    h1 {
      font-size: 60px;
    }
  }
}


.card {

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 25%;
    margin: 5px;
    float: left;
  }

  h2 {
    margin-bottom: 50px;
    font-size: 30px;
  }


  p {
    padding: 0;
    overflow-wrap: break-word;
    margin-bottom: 22px;
  }
}