
.jumbotron {
  vertical-align: center;
  padding-top: 15em;
  padding-left: 5em;
  background-size: cover;
  background-repeat: no-repeat;


  h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 1.5em;


  }
}


.button {
  padding-left: $left;}
