
.jumbotron {
  vertical-align: center;
  padding-top: 15em;
  padding-left: 5em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10em;


  h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 1.5em;


  }
}


.button {
  padding-left: $left;
  padding-bottom: 15em;
}

.row {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 10em;


}

.col {
  width: 100%;
  margin: 0 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .5);


}


.carte {
  display: block;


}

#premium {
  background-size: cover;
  color: white;
  padding-bottom: 10em;

  h2 {
    padding: 4em;
    padding-bottom: 10em;

  }


  p {
    text-align: right;

    padding-right: 5em;

  }
}



#description {
  margin: 5em;


  img {
   float: left;

  }

  p {
    padding-bottom: 10em;
    line-height: 50px;
    vertical-align:middle;
    display: table-cell;


  }


}

@media screen and (max-width: 1200px) {
      


}